*{
    box-sizing: border-box;
}
body{
    
    margin: 0;
    padding: 0%;
}

p{text-align: justify;}

.panel_black{background: #000; color: #fff;}
.panel_black p{ text-align: justify; font-size: 30px; }

#my_information,#proyects,#gallery{border:1px solid #000; min-height: 200px; padding-bottom: 10px;}



#my_information{
    
}

#proyects img{max-height: 400px; }

.software_icon{height: 40px;}


.img_gallery{background: #fff; height: 200px; width: 100% auto; margin: 10px;}




footer{height: 200px; background:#000; color: #fff; }
footer p{text-align: center ;}
.center{justify-items: center; text-align: center ; justify-content: center;}


